$font: 'Gaegu', cursive;//Esta letra también es para la progress-bar.
$font2: 'Kalam', cursive; //Esta letra es para la barra de progreso.
$font3: 'Syne', sans-serif; //Esta letra es para el titulo y para el resto del texto.

// Tipos de fuentes utilizadas para el texto
@import url('https://fonts.googleapis.com/css2?family=Syne&family=Kalam:wght@700&family=Syne:wght@800&family=Gaegu:wght@700&display=swap');

