//  Variables de colores
$color1:#d85d47;
$color2: #707070;
$color3: #939393;
$color4: #FFFFFF;
$color5: #FFE2E2;
$color6:#F7F7F7;
$color7:#140e0e;
$color8:#232833;
$color8:#4F5B66;
$color9:#fff0ED;
$color10:#e3e3e3;
$color11:#cccccc;
$color12:#44f662;
$color13: #DDE1E3;
